<div id="FirstView">
    First View
    <div class="square"></div>
</div>
<script>
    const ctrlView1 = {
        name: 'FirstView',
        el: document.getElementById('FirstView'),
        test() {
            console.log('FirstView test');
        }
    };
    mui.register(ctrlView1);

</script>
<style>
    #FirstView {
        background-color: #f00;
    }

    .view11 {
        border: 1px solid #000;
    }

    .square {
        width: 100px;
        height: 100px;
        background-color: #0f0;
    }

</style>
