<div class="MainView">
    <div class="header1" data-url="html/components/header1.html"></div>
    <div class="router-view"></div>
    <div class="footer1" data-url="html/components/footer1.html"></div>
</div>
<script>
 function jsFunc(arg1, arg2) {
        if (arg1 && arg2) document.body.innerHTML = "achoo";
      }
</script>
<style>
    .MainView {
        background-color: #f00;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .header1 {
        background-color: #0f0;
    }

    .MainView .router-view {
        flex-grow: 1;
    }

    .footer1 {
        background-color: #00f;
    }

</style>
